<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost/sempreUfg</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

    <property name="connection.username">root</property>
    <property name="connection.password">duckmaster</property>

    <property name="hbm2ddl.auto">update</property>
    <property name="show_sql">false</property>
    <property name="format_sql">true</property>

    <mapping class="br.ufg.inf.sempreufg.modelo.CursoOutrasIES"/>
    <mapping class="br.ufg.inf.sempreufg.modelo.CursoUFG"/>
    <mapping class="br.ufg.inf.sempreufg.modelo.Egresso"/>
    <mapping class="br.ufg.inf.sempreufg.modelo.HistoricoOutrasIES"/>
    <mapping class="br.ufg.inf.sempreufg.modelo.HistoricoUFG"/>
    <mapping class="br.ufg.inf.sempreufg.modelo.InstituicaoEnsino"/>
    <mapping class="br.ufg.inf.sempreufg.modelo.Residencia"/>
    <mapping class="br.ufg.inf.sempreufg.modelo.AreaDeConhecimento"/>
  </session-factory>
</hibernate-configuration>